.footer_app {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.card_img {
  height: 180px;
  margin: 10px 10px;

  img {
    height: 120px;
  }
}

.div_panel {
  height: 300px;
}

.div_panel-image {
  height: 220px;
  width: auto;
}
